* {
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body {
    background-color: rgb(0, 160, 160);
 }
 
 h1 {
    font-size: 100px;
 }
 
 h2 {
    font-size: 50px;
 }
 
 p {
    font-size: 20px;
    color: #c7c7c7;
 
 }
 .lgn{
    color: #03bfaf;
 }
 .exp{
    color: #4db4ac;
 }
 
 img{
    margin-top: 20px;
 }